body {
    background-color: #555555;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0px;
}

h4 {
    margin: 0px;
    padding-bottom: 0.5em;
}

a {
    color: #0a0;
}

.card {
    background-color: #222;
    color: #0a0;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444444;
    padding: 0.5em;
}

.body {
    padding: 0.5em;
}

.remove-button {
    background-color: #0a0;
    border: none;
    color: white;
    padding: 0.3em;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    align-self: center;
}